<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="AESConnectionString" value="AVAYA#CM7#CSTA#AESIP84" />
    <add key="AESUser" value="ctiuser" />
    <add key="AESPassword" value="M1d14v0x@" />
    <add key="PhantomExtension" value="40999" />
    <add key="AlertDestination" value="40402" />
    <add key="MaxTimeToAnswer" value="10" />
    <add key="AgentsList" value="50402" />
    <add key="HGExtensionsListToMonitor" value="50519" />
    <add key="Log" value="Log.log" />
    <add key="LogSize" value="2048" />
  </appSettings>
</configuration>